@import "tailwindcss";

@font-face {
    font-family: JetBrain; 
    src: url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

body{
    background-image: url(/images/P1080973.jpg);
    background-size: 100%;
    /* background-color: #88ce25; */
    font-family:JetBrain;
    margin: 0%;
}

.competences{
    background-image: url(/images/competence.jpg);
        background-size:contain;

}

.Langages{
    background-image: url(/images/langage.png);
}

.Outils{
    background-image: url(/images/langage.png);
}

.Projets{
    background-image: url(/images/projets.png);
}

.parcours{
    background-image: url(/images/parcours.jpg);
    background-size:contain;
}