@font-face {
    font-family: JetBrain; 
    src: url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

body{
    background-image: url(img/P1080973.jpg);
    background-size: 100%;
    /* background-color: #88ce25; */
    font-family:JetBrain;
    margin: 0%;
}